USE [master]
GO
/****** Object:  Database [otohub]    Script Date: 01/05/2018 12:59:53 PM ******/
CREATE DATABASE [otohub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'otohub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\otohub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'otohub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\otohub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [otohub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [otohub]
GO
USE [otohub]
GO
/****** Object:  Table [dbo].[OTO]    Script Date: 01/05/2018 12:59:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTO](
	[maXe] [varchar](10) NOT NULL,
	[maHangXe] [varchar](10) NOT NULL,
	[maThanhVien] [varchar](10) NOT NULL,
	[tenXe] [nvarchar](50) NOT NULL,
	[congSuat] [int] NOT NULL,
	[gia] [int] NOT NULL,
	[kieuDang] [nvarchar](50) NOT NULL,
	[xuatXu] [nvarchar](50) NOT NULL,
	[nhienLieu] [nvarchar](50) NOT NULL,
	[loaiHopSo] [nvarchar](50) NOT NULL,
	[mauSac] [nvarchar](50) NOT NULL,
	[soCua] [int] NOT NULL,
	[soCho] [int] NOT NULL,
	[ngayDangBan] [date] NULL,
	[anh] [varchar](50) NULL,
	[daBan] [bit] NOT NULL,
 CONSTRAINT [PK__OTO__DB07D8C2BB6C6CA1] PRIMARY KEY CLUSTERED 
(
	[maXe] ASC,
	[maHangXe] ASC,
	[maThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 01/05/2018 12:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[maThanhVien] [varchar](10) NOT NULL,
	[tenDangNhap] [varchar](50) NOT NULL,
	[matKhau] [varchar](50) NOT NULL,
	[loaiSalon] [nvarchar](10) NOT NULL,
	[tenThanhVien] [nvarchar](100) NULL,
	[email] [varchar](30) NOT NULL,
	[soDienThoai] [varchar](15) NOT NULL,
	[quanHuyen] [nvarchar](50) NULL,
	[tinhThanhPho] [nvarchar](50) NULL,
	[diaChi] [nvarchar](500) NULL,
	[anhDaiDien] [varchar](30) NOT NULL,
	[anhTongQuan] [varchar](30) NOT NULL,
 CONSTRAINT [PK__THANHVIE__53586E49FBA4807A] PRIMARY KEY CLUSTERED 
(
	[maThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OTO+THANHVIEN_Client]    Script Date: 01/05/2018 12:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OTO+THANHVIEN_Client]
AS
SELECT        dbo.OTO.maXe AS [Mã xe], dbo.OTO.tenXe AS [Tên xe], dbo.OTO.congSuat AS [Công suất], dbo.OTO.gia AS Giá, dbo.OTO.kieuDang AS [Kiểu dáng], dbo.OTO.xuatXu AS [Xuất xứ], dbo.OTO.nhienLieu AS [Nhiên liệu], 
                         dbo.OTO.loaiHopSo AS [Hộp số], dbo.OTO.mauSac AS [Màu sắc], dbo.OTO.soCua AS [Số cửa], dbo.OTO.soCho AS [Số chỗ], dbo.OTO.ngayDangBan AS [Ngày đăng bán], dbo.OTO.anh AS Ảnh, dbo.OTO.daBan AS [Đã bán], 
                         dbo.THANHVIEN.tenThanhVien AS [Tên người bán], dbo.THANHVIEN.loaiSalon AS [Loại salon], dbo.THANHVIEN.tinhThanhPho AS [Tỉnh/Thành phố]
FROM            dbo.OTO INNER JOIN
                         dbo.THANHVIEN ON dbo.OTO.maThanhVien = dbo.THANHVIEN.maThanhVien
GO
/****** Object:  View [dbo].[OTO+THANHVIEN_Admin]    Script Date: 01/05/2018 12:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OTO+THANHVIEN_Admin]
AS
SELECT        dbo.OTO.maXe, dbo.OTO.tenXe, dbo.OTO.congSuat, dbo.OTO.gia, dbo.OTO.kieuDang, dbo.OTO.xuatXu, dbo.OTO.nhienLieu, dbo.OTO.mauSac, dbo.OTO.soCua, dbo.OTO.loaiHopSo, dbo.OTO.soCho, dbo.OTO.ngayDangBan, 
                         dbo.OTO.anh, dbo.OTO.daBan, dbo.THANHVIEN.tenThanhVien
FROM            dbo.OTO INNER JOIN
                         dbo.THANHVIEN ON dbo.OTO.maThanhVien = dbo.THANHVIEN.maThanhVien
GO
/****** Object:  Table [dbo].[HANGXE]    Script Date: 01/05/2018 12:59:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGXE](
	[maHangXe] [varchar](10) NOT NULL,
	[tenHangXe] [nvarchar](50) NOT NULL,
	[moTa] [nvarchar](500) NOT NULL,
	[logo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHangXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HANGXE] ([maHangXe], [tenHangXe], [moTa], [logo]) VALUES (N'H002', N'AC', N'Một trong những hãng xe lâu đời của Anh', N'AC.png')
INSERT [dbo].[HANGXE] ([maHangXe], [tenHangXe], [moTa], [logo]) VALUES (N'H003', N'Acura', N'Acura là một nhãn hiệu xe cao cấp của hãng sản xuất Honda, Nhật Bản', N'Acura.png')
INSERT [dbo].[HANGXE] ([maHangXe], [tenHangXe], [moTa], [logo]) VALUES (N'H004', N'Aixam', N'Hãng xe của Pháp', N'Aixam.png')
INSERT [dbo].[OTO] ([maXe], [maHangXe], [maThanhVien], [tenXe], [congSuat], [gia], [kieuDang], [xuatXu], [nhienLieu], [loaiHopSo], [mauSac], [soCua], [soCho], [ngayDangBan], [anh], [daBan]) VALUES (N'A001', N'H026', N'TK002', N'Ranger', 320, 950000, N'Pickup', N'Nhập khẩu', N'Dầu 2.2L', N'Sàn 5 cấp', N'Trắng', 4, 6, CAST(N'2018-01-05' AS Date), N'A001.JPG', 0)
INSERT [dbo].[OTO] ([maXe], [maHangXe], [maThanhVien], [tenXe], [congSuat], [gia], [kieuDang], [xuatXu], [nhienLieu], [loaiHopSo], [mauSac], [soCua], [soCho], [ngayDangBan], [anh], [daBan]) VALUES (N'A002', N'H015', N'TK069', N'2018 Chevrolet', 200, 1000000, N'Sedan', N'Nhập khẩu', N'Dầu', N'Sàn 5 cấp', N'Trắng', 4, 7, CAST(N'2018-01-05' AS Date), N'A002.JPG', 0)
INSERT [dbo].[OTO] ([maXe], [maHangXe], [maThanhVien], [tenXe], [congSuat], [gia], [kieuDang], [xuatXu], [nhienLieu], [loaiHopSo], [mauSac], [soCua], [soCho], [ngayDangBan], [anh], [daBan]) VALUES (N'A003', N'H026', N'TK070', N'2016 Ranger XLS 2.2', 200, 577000, N'Pickup', N'Nhập khẩu', N'Dầu 2.2L', N'Sàn 5 cấp', N'Đen', 4, 4, CAST(N'2018-01-05' AS Date), N'A003.JPG', 0)
INSERT [dbo].[THANHVIEN] ([maThanhVien], [tenDangNhap], [matKhau], [loaiSalon], [tenThanhVien], [email], [soDienThoai], [quanHuyen], [tinhThanhPho], [diaChi], [anhDaiDien], [anhTongQuan]) VALUES (N'TK001', N'hoang', N'phamviethuyhoang', N'Cá nhân', N'Phạm Việt Huy Hoàng', N'phamviethuyhoang1002@gmail.com', N'0969880353', NULL, N'Nam Định', N'Nam Định', N'TK001.png', N'TK001.jpg')
INSERT [dbo].[THANHVIEN] ([maThanhVien], [tenDangNhap], [matKhau], [loaiSalon], [tenThanhVien], [email], [soDienThoai], [quanHuyen], [tinhThanhPho], [diaChi], [anhDaiDien], [anhTongQuan]) VALUES (N'TK002', N'tienha', N'tienhak7', N'Cá nhân', N'Lê Tiến Hà', N'Letienha@gmail.com   ', N'0916091623', NULL, N'Hà Tĩnh', N'Hà Tĩnh', N'TK002.png', N'TK002.jpg')
INSERT [dbo].[THANHVIEN] ([maThanhVien], [tenDangNhap], [matKhau], [loaiSalon], [tenThanhVien], [email], [soDienThoai], [quanHuyen], [tinhThanhPho], [diaChi], [anhDaiDien], [anhTongQuan]) VALUES (N'TK003', N'bach', N'dangthobach', N'Cá nhân', N'Đặng Thọ Bách', N'dangthobach@gmail.com', N'0969990550', NULL, N'Hà Nội', N'Hà Nội', N'TK003.png', N'TK003.jpg')
ALTER TABLE [dbo].[OTO]  WITH CHECK ADD  CONSTRAINT [FK__OTO__maHangXe__3B75D760] FOREIGN KEY([maHangXe])
REFERENCES [dbo].[HANGXE] ([maHangXe])
GO
ALTER TABLE [dbo].[OTO] CHECK CONSTRAINT [FK__OTO__maHangXe__3B75D760]
GO
ALTER TABLE [dbo].[OTO]  WITH CHECK ADD  CONSTRAINT [FK__OTO__maThanhVien__3C69FB99] FOREIGN KEY([maThanhVien])
REFERENCES [dbo].[THANHVIEN] ([maThanhVien])
GO
ALTER TABLE [dbo].[OTO] CHECK CONSTRAINT [FK__OTO__maThanhVien__3C69FB99]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[9] 2[18] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OTO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 218
               Right = 273
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "THANHVIEN"
            Begin Extent = 
               Top = 7
               Left = 373
               Bottom = 250
               Right = 646
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OTO+THANHVIEN_Admin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OTO+THANHVIEN_Admin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -192
         Left = 0
      End
      Begin Tables = 
         Begin Table = "OTO"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 227
               Right = 261
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "THANHVIEN"
            Begin Extent = 
               Top = 15
               Left = 404
               Bottom = 240
               Right = 664
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2910
         Alias = 900
         Table = 1170
         Output = 1230
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OTO+THANHVIEN_Client'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'OTO+THANHVIEN_Client'
GO
USE [master]
GO
